@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-mEVfU_4eG7IZ: #0000003b;
  --plasmic-token-black: var(--token-mEVfU_4eG7IZ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-jHvdMBwRKrIh_font-family: "Inter", sans-serif;
  --mixin-jHvdMBwRKrIh_font-size: 16px;
  --mixin-jHvdMBwRKrIh_font-weight: 400;
  --mixin-jHvdMBwRKrIh_font-style: normal;
  --mixin-jHvdMBwRKrIh_color: #535353;
  --mixin-jHvdMBwRKrIh_text-align: left;
  --mixin-jHvdMBwRKrIh_text-transform: none;
  --mixin-jHvdMBwRKrIh_line-height: 1.5;
  --mixin-jHvdMBwRKrIh_letter-spacing: normal;
  --mixin-jHvdMBwRKrIh_white-space: pre-wrap;
  --mixin-jHvdMBwRKrIh_user-select: text;
  --mixin-jHvdMBwRKrIh_text-decoration-line: none;
  --mixin-jHvdMBwRKrIh_text-overflow: clip;
  --mixin-KQDXjQbojgGY_color: #000000;
  --mixin-KQDXjQbojgGY_font-weight: 700;
  --mixin-KQDXjQbojgGY_font-size: 64px;
  --mixin-KQDXjQbojgGY_line-height: 1;
  --mixin-KQDXjQbojgGY_letter-spacing: -1px;
  --mixin-KQDXjQbojgGY_white-space: pre-wrap;
  --mixin-U1-VP0AB5HJa_color: #000000;
  --mixin-U1-VP0AB5HJa_font-size: 48px;
  --mixin-U1-VP0AB5HJa_font-weight: 700;
  --mixin-U1-VP0AB5HJa_letter-spacing: -0.5px;
  --mixin-U1-VP0AB5HJa_line-height: 1.1;
  --mixin-U1-VP0AB5HJa_white-space: pre-wrap;
  --mixin-yfy5kbb5zALU_color: #0070f3;
  --mixin-yfy5kbb5zALU_white-space: pre-wrap;
  --mixin-UasYaJdkZf49_color: #000000;
  --mixin-UasYaJdkZf49_font-size: 32px;
  --mixin-UasYaJdkZf49_font-weight: 600;
  --mixin-UasYaJdkZf49_line-height: 1.2;
  --mixin-UasYaJdkZf49_white-space: pre-wrap;
  --mixin-oLUPFi_Xm3FO_color: #000000;
  --mixin-oLUPFi_Xm3FO_font-size: 24px;
  --mixin-oLUPFi_Xm3FO_font-weight: 600;
  --mixin-oLUPFi_Xm3FO_line-height: 1.3;
  --mixin-oLUPFi_Xm3FO_white-space: pre-wrap;
  --mixin-ChhJnY9B71MF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ChhJnY9B71MF_border-bottom-color: #dddddd;
  --mixin-ChhJnY9B71MF_border-bottom-style: solid;
  --mixin-ChhJnY9B71MF_border-bottom-width: 1px;
  --mixin-ChhJnY9B71MF_border-left-color: #dddddd;
  --mixin-ChhJnY9B71MF_border-left-style: solid;
  --mixin-ChhJnY9B71MF_border-left-width: 1px;
  --mixin-ChhJnY9B71MF_border-right-color: #dddddd;
  --mixin-ChhJnY9B71MF_border-right-style: solid;
  --mixin-ChhJnY9B71MF_border-right-width: 1px;
  --mixin-ChhJnY9B71MF_border-top-color: #dddddd;
  --mixin-ChhJnY9B71MF_border-top-style: solid;
  --mixin-ChhJnY9B71MF_border-top-width: 1px;
  --mixin-ChhJnY9B71MF_border-bottom-left-radius: 3px;
  --mixin-ChhJnY9B71MF_border-bottom-right-radius: 3px;
  --mixin-ChhJnY9B71MF_border-top-left-radius: 3px;
  --mixin-ChhJnY9B71MF_border-top-right-radius: 3px;
  --mixin-ChhJnY9B71MF_font-family: "Inconsolata";
  --mixin-ChhJnY9B71MF_padding-bottom: 1px;
  --mixin-ChhJnY9B71MF_padding-left: 4px;
  --mixin-ChhJnY9B71MF_padding-right: 4px;
  --mixin-ChhJnY9B71MF_padding-top: 1px;
  --mixin-ChhJnY9B71MF_white-space: pre-wrap;
  --mixin-zZhcE5k5egGy_border-left-color: #dddddd;
  --mixin-zZhcE5k5egGy_border-left-style: solid;
  --mixin-zZhcE5k5egGy_border-left-width: 3px;
  --mixin-zZhcE5k5egGy_color: #888888;
  --mixin-zZhcE5k5egGy_padding-left: 10px;
  --mixin-zZhcE5k5egGy_white-space: pre-wrap;
  --mixin-v3KmT7soPxSb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-v3KmT7soPxSb_border-bottom-color: #dddddd;
  --mixin-v3KmT7soPxSb_border-bottom-style: solid;
  --mixin-v3KmT7soPxSb_border-bottom-width: 1px;
  --mixin-v3KmT7soPxSb_border-left-color: #dddddd;
  --mixin-v3KmT7soPxSb_border-left-style: solid;
  --mixin-v3KmT7soPxSb_border-left-width: 1px;
  --mixin-v3KmT7soPxSb_border-right-color: #dddddd;
  --mixin-v3KmT7soPxSb_border-right-style: solid;
  --mixin-v3KmT7soPxSb_border-right-width: 1px;
  --mixin-v3KmT7soPxSb_border-top-color: #dddddd;
  --mixin-v3KmT7soPxSb_border-top-style: solid;
  --mixin-v3KmT7soPxSb_border-top-width: 1px;
  --mixin-v3KmT7soPxSb_border-bottom-left-radius: 3px;
  --mixin-v3KmT7soPxSb_border-bottom-right-radius: 3px;
  --mixin-v3KmT7soPxSb_border-top-left-radius: 3px;
  --mixin-v3KmT7soPxSb_border-top-right-radius: 3px;
  --mixin-v3KmT7soPxSb_font-family: "Inconsolata";
  --mixin-v3KmT7soPxSb_padding-bottom: 3px;
  --mixin-v3KmT7soPxSb_padding-left: 6px;
  --mixin-v3KmT7soPxSb_padding-right: 6px;
  --mixin-v3KmT7soPxSb_padding-top: 3px;
  --mixin-v3KmT7soPxSb_white-space: pre-wrap;
  --mixin-rHbf_bHfuocP_display: flex;
  --mixin-rHbf_bHfuocP_flex-direction: column;
  --mixin-rHbf_bHfuocP_align-items: stretch;
  --mixin-rHbf_bHfuocP_justify-content: flex-start;
  --mixin-rHbf_bHfuocP_list-style-position: outside;
  --mixin-rHbf_bHfuocP_padding-left: 40px;
  --mixin-rHbf_bHfuocP_position: relative;
  --mixin-rHbf_bHfuocP_list-style-type: disc;
  --mixin-rHbf_bHfuocP_white-space: pre-wrap;
  --mixin-JSII4o2Bu9sO_display: flex;
  --mixin-JSII4o2Bu9sO_flex-direction: column;
  --mixin-JSII4o2Bu9sO_align-items: stretch;
  --mixin-JSII4o2Bu9sO_justify-content: flex-start;
  --mixin-JSII4o2Bu9sO_list-style-position: outside;
  --mixin-JSII4o2Bu9sO_padding-left: 40px;
  --mixin-JSII4o2Bu9sO_position: relative;
  --mixin-JSII4o2Bu9sO_list-style-type: decimal;
  --mixin-JSII4o2Bu9sO_white-space: pre-wrap;
  --mixin-5Jp7GJjdayDQ_color: #000000;
  --mixin-5Jp7GJjdayDQ_font-size: 20px;
  --mixin-5Jp7GJjdayDQ_font-weight: 600;
  --mixin-5Jp7GJjdayDQ_line-height: 1.5;
  --mixin-5Jp7GJjdayDQ_white-space: pre-wrap;
  --mixin-uCEYTeSV_dFX_color: #000000;
  --mixin-uCEYTeSV_dFX_font-size: 16px;
  --mixin-uCEYTeSV_dFX_font-weight: 600;
  --mixin-uCEYTeSV_dFX_line-height: 1.5;
  --mixin-uCEYTeSV_dFX_white-space: pre-wrap;
  --mixin-7Wcmweoz8h01_color: #3291ff;
  --mixin-7Wcmweoz8h01_white-space: pre-wrap;
  --mixin-LCMt6ByQMbXd_white-space: pre-wrap;
  --mixin-YvQudEhDH2ty_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-jHvdMBwRKrIh_font-family);
  font-size: var(--mixin-jHvdMBwRKrIh_font-size);
  font-weight: var(--mixin-jHvdMBwRKrIh_font-weight);
  font-style: var(--mixin-jHvdMBwRKrIh_font-style);
  color: var(--mixin-jHvdMBwRKrIh_color);
  text-align: var(--mixin-jHvdMBwRKrIh_text-align);
  text-transform: var(--mixin-jHvdMBwRKrIh_text-transform);
  line-height: var(--mixin-jHvdMBwRKrIh_line-height);
  letter-spacing: var(--mixin-jHvdMBwRKrIh_letter-spacing);
  white-space: var(--mixin-jHvdMBwRKrIh_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-KQDXjQbojgGY_color);
  font-weight: var(--mixin-KQDXjQbojgGY_font-weight);
  font-size: var(--mixin-KQDXjQbojgGY_font-size);
  line-height: var(--mixin-KQDXjQbojgGY_line-height);
  letter-spacing: var(--mixin-KQDXjQbojgGY_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-U1-VP0AB5HJa_color);
  font-size: var(--mixin-U1-VP0AB5HJa_font-size);
  font-weight: var(--mixin-U1-VP0AB5HJa_font-weight);
  letter-spacing: var(--mixin-U1-VP0AB5HJa_letter-spacing);
  line-height: var(--mixin-U1-VP0AB5HJa_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-yfy5kbb5zALU_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UasYaJdkZf49_color);
  font-size: var(--mixin-UasYaJdkZf49_font-size);
  font-weight: var(--mixin-UasYaJdkZf49_font-weight);
  line-height: var(--mixin-UasYaJdkZf49_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-oLUPFi_Xm3FO_color);
  font-size: var(--mixin-oLUPFi_Xm3FO_font-size);
  font-weight: var(--mixin-oLUPFi_Xm3FO_font-weight);
  line-height: var(--mixin-oLUPFi_Xm3FO_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ChhJnY9B71MF_font-family);
  border-radius: var(--mixin-ChhJnY9B71MF_border-top-left-radius)
    var(--mixin-ChhJnY9B71MF_border-top-right-radius)
    var(--mixin-ChhJnY9B71MF_border-bottom-right-radius)
    var(--mixin-ChhJnY9B71MF_border-bottom-left-radius);
  padding: var(--mixin-ChhJnY9B71MF_padding-top)
    var(--mixin-ChhJnY9B71MF_padding-right)
    var(--mixin-ChhJnY9B71MF_padding-bottom)
    var(--mixin-ChhJnY9B71MF_padding-left);
  border-top: var(--mixin-ChhJnY9B71MF_border-top-width)
    var(--mixin-ChhJnY9B71MF_border-top-style)
    var(--mixin-ChhJnY9B71MF_border-top-color);
  border-right: var(--mixin-ChhJnY9B71MF_border-right-width)
    var(--mixin-ChhJnY9B71MF_border-right-style)
    var(--mixin-ChhJnY9B71MF_border-right-color);
  border-bottom: var(--mixin-ChhJnY9B71MF_border-bottom-width)
    var(--mixin-ChhJnY9B71MF_border-bottom-style)
    var(--mixin-ChhJnY9B71MF_border-bottom-color);
  border-left: var(--mixin-ChhJnY9B71MF_border-left-width)
    var(--mixin-ChhJnY9B71MF_border-left-style)
    var(--mixin-ChhJnY9B71MF_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-zZhcE5k5egGy_color);
  padding-left: var(--mixin-zZhcE5k5egGy_padding-left);
  border-left: var(--mixin-zZhcE5k5egGy_border-left-width)
    var(--mixin-zZhcE5k5egGy_border-left-style)
    var(--mixin-zZhcE5k5egGy_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-v3KmT7soPxSb_font-family);
  border-radius: var(--mixin-v3KmT7soPxSb_border-top-left-radius)
    var(--mixin-v3KmT7soPxSb_border-top-right-radius)
    var(--mixin-v3KmT7soPxSb_border-bottom-right-radius)
    var(--mixin-v3KmT7soPxSb_border-bottom-left-radius);
  padding: var(--mixin-v3KmT7soPxSb_padding-top)
    var(--mixin-v3KmT7soPxSb_padding-right)
    var(--mixin-v3KmT7soPxSb_padding-bottom)
    var(--mixin-v3KmT7soPxSb_padding-left);
  border-top: var(--mixin-v3KmT7soPxSb_border-top-width)
    var(--mixin-v3KmT7soPxSb_border-top-style)
    var(--mixin-v3KmT7soPxSb_border-top-color);
  border-right: var(--mixin-v3KmT7soPxSb_border-right-width)
    var(--mixin-v3KmT7soPxSb_border-right-style)
    var(--mixin-v3KmT7soPxSb_border-right-color);
  border-bottom: var(--mixin-v3KmT7soPxSb_border-bottom-width)
    var(--mixin-v3KmT7soPxSb_border-bottom-style)
    var(--mixin-v3KmT7soPxSb_border-bottom-color);
  border-left: var(--mixin-v3KmT7soPxSb_border-left-width)
    var(--mixin-v3KmT7soPxSb_border-left-style)
    var(--mixin-v3KmT7soPxSb_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-rHbf_bHfuocP_display);
  flex-direction: var(--mixin-rHbf_bHfuocP_flex-direction);
  align-items: var(--mixin-rHbf_bHfuocP_align-items);
  justify-content: var(--mixin-rHbf_bHfuocP_justify-content);
  list-style-position: var(--mixin-rHbf_bHfuocP_list-style-position);
  padding-left: var(--mixin-rHbf_bHfuocP_padding-left);
  position: var(--mixin-rHbf_bHfuocP_position);
  list-style-type: var(--mixin-rHbf_bHfuocP_list-style-type);
  flex-column-gap: var(--mixin-rHbf_bHfuocP_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JSII4o2Bu9sO_display);
  flex-direction: var(--mixin-JSII4o2Bu9sO_flex-direction);
  align-items: var(--mixin-JSII4o2Bu9sO_align-items);
  justify-content: var(--mixin-JSII4o2Bu9sO_justify-content);
  list-style-position: var(--mixin-JSII4o2Bu9sO_list-style-position);
  padding-left: var(--mixin-JSII4o2Bu9sO_padding-left);
  position: var(--mixin-JSII4o2Bu9sO_position);
  list-style-type: var(--mixin-JSII4o2Bu9sO_list-style-type);
  flex-column-gap: var(--mixin-JSII4o2Bu9sO_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-5Jp7GJjdayDQ_color);
  font-size: var(--mixin-5Jp7GJjdayDQ_font-size);
  font-weight: var(--mixin-5Jp7GJjdayDQ_font-weight);
  line-height: var(--mixin-5Jp7GJjdayDQ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-uCEYTeSV_dFX_color);
  font-size: var(--mixin-uCEYTeSV_dFX_font-size);
  font-weight: var(--mixin-uCEYTeSV_dFX_font-weight);
  line-height: var(--mixin-uCEYTeSV_dFX_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-7Wcmweoz8h01_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
