.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rooteditable:hover {
  cursor: pointer;
}
.freeBox__m1Rkw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.freeBoxloading__m1RkWrJ7Yz {
  display: none;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #535353;
  left: auto;
  top: -7px;
  width: auto;
  height: 1em;
  right: -6px;
  flex-shrink: 0;
  display: none;
}
.rooteditable:hover .svgeditable {
  display: block;
}
.freeBox__aq08N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxtype_image__aq08NkEkLa {
  overflow: hidden;
  width: auto;
}
.freeBoxborderRadius__10Px__aq08NEny9Z {
  border-radius: 10px;
}
.freeBoxtype_image_editable__aq08NkEkLaKSeuJ {
  width: auto;
}
.roottype_image:hover .freeBoxtype_image__aq08NkEkLa {
  width: auto;
}
.rooteditable:hover .freeBoxeditable__aq08NkSeuJ {
  border-radius: 3px;
  border: 1px solid #6b6b6b;
}
.img__x7Dm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__x7Dm > picture > img {
  object-fit: cover;
}
.imgtype_image__x7DmkEkLa {
  display: block !important;
}
.curValueHolder {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 1px 5px;
}
.curValueHolderfontSize__18Px {
  font-size: 18px;
}
.curValueHolderfontSize__22Px {
  font-size: 22px;
}
.curValueHolderfontSize__25Px {
  font-size: 25px;
}
.curValueHolderfontWeight_medium {
  font-weight: 500;
}
.curValueHolderfontWeight_bold {
  font-weight: 700;
}
.curValueHoldercolor_black {
  color: #000000;
}
.curValueHoldercolor_white {
  color: var(--token-jgohepLVeKvh);
}
.rooteditable:hover .curValueHoldereditable {
  padding: 0px 4px;
}
.freeBox__nzrrO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxediting__nzrrO1X2Ly {
  display: flex;
}
.freeBoxediting_type_image__nzrrO1X2LyKEkLa {
  display: flex;
}
.img___2WspA {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
}
.img___2WspA > picture > img {
  object-fit: cover;
}
.imgtype_image___2WspAkEkLa {
  display: block !important;
}
.imgediting_type_image___2WspA1X2LyKEkLa {
  display: block !important;
}
.freeBox__rc4G1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxediting__rc4G11X2Ly {
  padding: 0px;
}
.freeBoxediting_type_image__rc4G11X2LyKEkLa {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100px;
  height: auto;
}
.curValueInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__mrc3G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  display: none !important;
}
.img__mrc3G > picture > img {
  object-fit: cover;
}
.imgloading__mrc3GrJ7Yz {
  display: block !important;
}
.freeBox__wDy33 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20px;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 0px;
}
.freeBoxtype_image__wDy33KEkLa {
  height: 150px;
  width: 150px;
  flex-shrink: 0;
}
.freeBoxloading__wDy33RJ7Yz {
  display: flex;
}
.img__mAkAu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  object-position: 50% top;
  height: 15px;
  align-self: flex-end;
  flex-shrink: 0;
  display: none !important;
}
.img__mAkAu > picture > img {
  object-fit: cover;
  object-position: 50% top;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-style: italic;
  opacity: 0;
  display: none;
}
.lottie__rEm2H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 16px;
  height: 100%;
  align-self: baseline;
  flex-shrink: 0;
  min-height: 0;
  display: none;
}
.lottie__oIHr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0%;
  z-index: -1;
  right: 0;
  bottom: auto;
  opacity: 0.5;
}
